@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Comic Neue", sans-serif;
}

body {
  background-color: rgb(236, 236, 236);
  height: 100vh;
  display: flex;
}

.header-container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: orange;
  height: 35px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.cards-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.card {
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.card > img {
  border-bottom: 2px solid orange;
}

img {
  height: 150px;
}
